<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>co.nimblehq.cleanUpRunners</string>
	<key>ProgramArguments</key>
	<array>
		<string>sh</string>
		<string>-c</string>
		<string>sh ~/.bin/clean_up_runner_directory.sh &gt; ~/.log/clean_up_runner_directory_logfile.txt 2&gt;&amp;1</string>
	</array>
	<key>StartCalendarInterval</key>
	<dict>
		<key>Hour</key>
		<integer>17</integer>
		<key>Minute</key>
		<integer>16</integer>
	</dict>
</dict>
</plist>
